.reporte_detalle {
    border: 3px solid #999;
    padding: 15px;
}

.reporte_detalle #reporte_detalle_cabecera td, 
.reporte_detalle #reporte_detalle_cabecera th{
    border: 1px solid #555;
}

.reporte_detalle #reporte_detalle_cabecera th {
    background: #444 none repeat scroll 0 0;
    color: #ddd;
    padding: 2px;
}

.reporte_detalle #reporte_detalle_items td, 
.reporte_detalle #reporte_detalle_items th{
    border: 1px solid #555;
}

.reporte_detalle #reporte_detalle_cabecera th {
    background: #013E77 none repeat scroll 0 0;
    color: #fff;
     padding: 4px 10px;
}
.reporte_detalle > div {
    margin: 10px 0;
}
#reporte_detalle_items th,#reporte_detalle_items td, 
#reporte_detalle_cabecera th,#reporte_cabecera_items td {
    padding: 2px 10px;
    max-width:100%;
    white-space:nowrap;
}
#reporte_detalle_items th {
    background: #359cff none repeat scroll 0 0;
    color: #fff;
}