aside{	
	margin: 0;
	padding: 0;
        position: relative;
	width: 100%;	
}

.item_aside{
	font-size: 14px;
	padding-bottom: 1px;
	width: 100%;
}

/*#nombre_perfil_aside{
	border-bottom: 1px solid #A3A3A3;
	color: #000;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
	padding: 10px;
}*/


