header{	
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#contenedor_logo{	
    float: left;
    padding-left: 20px; 
    margin: 20px;
}

#contenedor_logosms{
    float: right;
    margin: 10px 0;
}

#contenedor_perfil{
    float: right;
    height: 85px;
    margin: 5px;
    width: 500px;
    padding-right: 20px; 
    position: relative;
    top: 60px;
}
.img-user-perfil #imagen_perfil{
    float: right;
    height: 50px;
    width: 50px;
}
#user-bar{
    color: #FFF;
	float: right;
    z-index: 9999999;
}
#user-bar .img-user-perfil{
    background: #999 none repeat scroll 0 0;
    border: 1px solid #fff;
    float: left;
    font-size: 23px;
    height: 35px;
    line-height: 35px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    z-index: 100;
}
.user-perfil span {
    float: left;
    width: 100%;
}
.dropdown {
    position: relative;
}
#circulo_externo_perfil{
    float: right;
    height: 80px;
    margin: 7px;
    width: 80px;
}

#mascara_perfil{
    background: #AAA	;
    border: 3px solid #FFF;
    -webkit-border-radius: 74px;
    -moz-border-radius: 74px;
    border-radius: 74px;
    height: 74px;
    margin: 0 auto;
    /*overflow: hidden;*/
    width: 74px;
}

#informacion_perfil{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(136,136,136,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(136,136,136,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(136,136,136,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(136,136,136,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(136,136,136,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(136,136,136,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#888888',GradientType=0 ); /* IE6-9 */
    webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 50px;
    position: absolute;
    right: 0px;
    /*top: 20px;*/
    width: 220px;
    overflow: hidden;
    padding: 8px;
    cursor: pointer;
}
#informacion_perfil:hover{
    -webkit-box-shadow: 2px 2px 4px 2px rgba(239, 193, 0, 0.75);
    -moz-box-shadow:    2px 2px 4px 2px rgba(239, 193, 0, 0.75);
    box-shadow:         2px 2px 4px 2px rgba(239, 193, 0, 0.75);
}
#descripcion_perfil{
    float: left;
    height: 60px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 170px;
    text-align: center;
}
#descripcion_perfil #titulo_saldo{
    border-radius: 3px;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#descripcion_perfil #titulo_desplegable{
    background-color: rgba(20, 20, 20, 0.67);
    border: 2px solid #555555;
    border-radius: 11px;
    color: #DDDDDD;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#descripcion_perfil h5{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

/*ventana emergente opciones usuario*/
#contenedor_ops_usuario{
    height: 0px;
    position: absolute;
    right: 35px;
    top: 160px;
    width: 200px;
    z-index:1;
}
#contenedor_ops_usuario #flecha_info_perfil{
    height: 30px;
    margin: -7px auto 0;
    padding: 0;
    width: 50px;
    cursor: pointer;
}
#informacion_perfil > #contenedor_ops_usuario:hover {
    display: block;
}

#contenedor_opciones_usuario{
    -webkit-box-shadow: 3px 13px 3px 0 #333333;
    -moz-box-shadow: 3px 13px 3px 0 #333333;
    box-shadow: 3px 13px 3px 0 #333333;
    display: none;
    height: auto;
    width: 100%;
}

#contenedor_ops_usuario p {
    /*background: none repeat scroll 0 0 rgba(200, 200, 200, 0.9); */
    border: 1px solid #A3A3A3;
    font-weight: bold;
    height: 30px;
    line-height: 35px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 98%;

}
#contenedor_ops_usuario ul {
    margin: 0 auto;
    padding: 0;
    background-color: white;
}
#contenedor_opciones_usuario li{
    /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); */
    border: 1px solid #A3A3A3;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    list-style: none outside none;
    line-height: 25px;
    margin: 0 auto;
    width: 98%;
}
#contenedor_opciones_usuario li:hover{
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 1); */
    /*color: #FFFFFF; */
}

#contenedor_opciones_usuario label{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    float: left;
    height: 16px;
    margin: 2px 6px 0 3px;
    padding: 0;
    width: 16px;
}

#flecha_info_perfil{
    visibility: hidden;
}

#btn_opciones_usuario{
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 70px;
    margin: 0;
    max-width: 200px;
    overflow: hidden;
    padding: 17px 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#btn_opciones_usuario > span{
    color: #333;
    float: left;
    text-align: center;
    width: 100%;
}
.usuario-datos-nombre{
    margin: 0;
}
.usuario-datos-perfil{
    font-size: 12px;
    margin: 0;
}
#btn_opciones_usuario > p{
    color: #fff;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#navbar_header{
    background:transparent;
    float: left;
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-default{	
    padding: 0;
    width: 100%;
}

#navbar_header > a {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) inset;
    -ms-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) inset;
    -o-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) inset;
    float: left;
    margin: 0 0 0 35px;
}
.img-nav-logo{
    float: right;
    height: 100px !important;
    padding: 0;
    width: 100px !important;
}
.navbar {
    min-height: 50px !important;
}
@media(max-width: 600px){
    .img-nav-logo{
        margin: 4px;
    }
}
@media(min-width: 600px){
    .img-nav-logo{
        margin: 7px 15px;
    }
}

.encabezado_opciones_usuario > a{
    color: #FFF !important;
    font-weight: bold !important;
}

.encabezado_opciones_usuario > a:hover{
}

#navbar{
    background: transparent none repeat scroll 0 0 !important;
    float: right;
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#navbar li{
    margin-top: 0px;
}

.menu_opcion_header{
    border: 1px solid #ccc;
    border-radius: 2px;
    max-width: 300px;
    padding: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(136, 136, 136, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

.menu_opcion_header a{
    color: #777;
}

.menu_opcion_header:hover > a{
    text-decoration: none;
    color: #333;
}
.user-perfil {
    color: rgb(120,80,40);
    float: left;
    font-weight: bold;
    height: 40px;
    margin: 5px;
}
